<form class="row" action="{{setting.href}}" method="POST">
    <div class="col-auto">
        <input class="form-control" type="text" placeholder="Category Name" name="name" value="{{setting.description}}">
        </div>
        <div class="col-auto">
        <button class="{{setting.buttonStyle}}" type="submit">{{setting.action}}</button>
    </div>
</form>